@import url(reset.css);

#wrapper {
    width: 1024px;
    height: 1800px;
    margin: 0 auto;
    outline: 0px solid #cccccc;
}

#topLines{
    height: 18px; 
    background-image: url(../images/topLines.png);
    background-repeat: repeat-x;
    background-color: #cccccc;
}

#header{
    height: 157px;
    outline: 0px solid #cc0000; 
    position: relative;
}

#logo{
    width: 221px; /*ширина логотипа*/
    height: 79px; /*высота логотипа*/
    outline: 0px solid #cccccc;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 76px;
    top: 49px;
    
}

#logo a{
    display: block;/*что бы задать свойства ссылки картинке переводим ее из инлайнового элемента в блочный*/
     height: 79px; /*высота логотипа*/
     cursor: pointer;
}

#fag{
    width: 82px;
    height: 164px;
    outline: 0px solid #cccccc;
    background-image: url(../images/fag.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 43px;
    top: -18px;
}
#fag a{
    display: block;/*что бы задать свойства ссылки картинке переводим ее из инлайнового элемента в блочный*/
     height: 164px; /*высота логотипа*/
     cursor: pointer;
}
   
#nav{
    width: 520px;
    height: 30px;
    outline: 0px solid #cccccc;
    position: absolute;
    top: 56px;
    left: 377px;
}
#nav li{
    /*располагаем элементы списка горизонтально*/
    float: left; 
    outline: 0px solid #cc0000;
    margin-right: 27px;
}
#nav li a{
    /*Внешний вид элементов навигации*/
     text-decoration: none;
     font: 16px Arial, sans-serif;
     color: #3f3f3f;
}
#nav li a.active,#nav li a:hover{/*групповой селектор*/
    /*создаем специальный класс для активной ссылки и такой класс соответственно мы и должны прописать в html*/
     /*прописываем псевдокласс для того что бы при наведении все ссылки так же становились синего цвета*/
    color: #2c789c;
}
/*конец блока header*/

/*начало блока с people*/

#people{
    height: 404px;
    outline: 0px solid #000000;
    background-image: url(../images/peopleBg.jpg);
    background-repeat: no-repeat;
    background-position: 60px 46px;
    position: relative;
}
#peopleImg{
    height: 389px;
    width: 388px;
    outline: 0px solid #cccccc;
    position: absolute;
    right: 39px;
     background-image: url(../images/people.jpg);
     background-repeat: no-repeat;
     z-index: 5;
}
#slogan{
    width: 337px;
    height: 73px;
    outline: 0px solid #cccccc;
    position: absolute;
    top: 207px;
    right: 632px;
    text-align: right;
    padding-top: 8px; 
}
#slogan h1 {
    font: bold 23px Arial, sans-serif;
    color: #1d1e1b;
    text-transform: uppercase;
}
#slogan p{
font: bold 16px Arial, sans-serif;
    color: #2c789c;    
}
#forLine{
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
    outline:0px solid #cc0000;
    width: 1024px; 
    background-image: url(../images/forLineBg.png);
    background-repeat: repeat-y; 
    z-index: 3;
}
/*Конец блока people*/

/*начало блока colors*/
#colors{ 
    outline: 0px solid #cc0000;
    background-image: url(../images/colorsBg.png);
    background-repeat: repeat-y;
    padding: 0 48px 0 41px;
}
#blue{
    width: 292px;
    float: left;
     background-color: #2c789c;
     padding-left: 14px;
     background-image: url(../images/e1.png);
     background-repeat: no-repeat;
     background-position: 250px 10px;
}
#yellow{
    width: 302px;
    float: left;
    background-color: #e5b00d;
     padding-left: 19px;
     background-image: url(../images/e2.png);
     background-repeat: no-repeat;
     background-position: 267px 10px;
}
#green{
    width: 283px;
    float: left;
     background-color: #97ba15;
      padding-left: 23px;
      background-image: url(../images/e3.png);
     background-repeat: no-repeat;
     background-position: 251px 10px;
}
#blue,#yellow,#green{
    color: #ffffff;
    padding-top: 13px;
    position: relative;
}
#colors h2{
    font: 19px Arial,sans-serif; 
    padding-bottom: 10px;
}
#colors p{
    font:  16px Arial,sans-serif; 
    padding-bottom: 10px;
}
#colors a{
    text-decoration: none;
    color: #525252; 
    font:  16px Arial,sans-serif; 
    display: block;
    width: 99px;
    height: 26px; 
    background-image: url(../images/readMore.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px; 
    margin-bottom: 4px;
}
/*следующий момент это высота самого блока colors мы давали ему принудительно что бы видеть контуры. пора ее убирать, но проблема в том что все три контейнера
имееют свойство float, т.е. они как бы выходят из потока и соответственно если мы уберем высоту, то мы на фоне картинку с полосками по бокам мы не увидим.
здесь нам нужно добавить очищающий блок после этих трех блоков с float-left */
.clear{
    clear: both;
}
#romb1{
    width: 24px;
    height: 49px;
    position: absolute;
     background-image: url(../images/e4.png);
    background-repeat: no-repeat;
    left: -0.5px;
    top: 49px;
    
}
#romb2{
    width: 24px;
    height: 49px;
    position: absolute;
     background-image: url(../images/e5.png);
    background-repeat: no-repeat;
    left: -0.5px;
    top: 49px;
    
}
#yellow a,#green a,#yellow p,#green a,#green p{
    margin-left: 6px;
}
#yellow a,#yellow p{
    margin-left: 9px;
}
/*конец блока colors*/


/*начало черно-белого блока*/
#blackAndWhite{
    height: 225px;
    outline: 0px solid #cccccc;
     background-image: url(../images/colorsBg.png);
    background-repeat: repeat-y;
    position: relative;
    padding: 17px 55px 30px 55px;
}
#bLeft,#bRight{
    position: absolute;
    width: 44px;
    height: 100px;
}
#bLeft{
   background-image: url(../images/bLeft.png);
   background-repeat: no-repeat;
   bottom: 0;
   left: 0;
}
#bRight{
   background-image: url(../images/bRight.png);
   background-repeat: no-repeat;
   bottom: 0;
   right: 0;
   z-index: 4;
}
#bBottom{
   background-image: url(../images/bBottom.png);
   background-repeat: repeat-x;
   bottom: 0;
   right: 35px;
   width: 956px;
   height: 1px;
   position: absolute;
}
#bContent{
    height: 225px;
    outline: 0px solid #cccccc;
    width: 620px;
    float: left;
}
#bForm{
    height: 225px;
    outline: 0px solid #cccccc;
    width: 264px;
    float: left; 
    margin-left: 30px; 
    position: relative;
    z-index: 5;
}

#bContent h2,#bForm h2{
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-bottom: 6px; 
}

#bContent p.strong{
    color: #1d1e1b;
    font: bold 16px Arial, sans-serif;
    margin-bottom: 20px; 
}
#bContent p{
    color: #7b7d78;
    font: 16px Arial, sans-serif;
     margin-bottom: 17px;
}
#bContent a{
    text-decoration: none;
    color: #b6b7b6; 
    font:  16px Arial,sans-serif; 
    display: block;
    width: 99px;
    height: 18px; 
    background-image: url(../images/readMoreBlack.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px; 
}
#bForm input{
    width: 262px;
    height: 31px;
    border: 1px solid #dedede;
    margin-bottom: 11px;
    color: #bababa;
    font: 16px Arial, sans-serif;
    padding-left: 15px;
}
#bForm input.button{
    width: 99px;
    height: 26px;
    border: none;
    padding: 28px 0 0 0;
    margin: 0;
}
/*конец черно-белого блока*/

/*Начало темного блока*/

#dark{
    height: 430px;
    padding: 13px 30px 14px 41px;
    outline: 0px solid #cccccc;
    background-color: #1d1e1b; 
}
#planning, #team,#blog{
    outline: 0px solid #ffffff;
    height: 403px;
    float: left;
    font: bold 11px Arial, sans-serif;
    color: #636760;
}
#planning h3, #team h3,#blog h3{
 font: 18px Arial, sans-serif;
    color: #e1e1e1;
    text-transform: uppercase;
}
#planning, #team{
    width: 289px;
}
#blog{
    width: 297px;
}
#team,#blog{
    margin-left: 39px;
}


#imgDark1{
    width: 289px;
    height: 115px;
    background-image: url(../images/dark1.jpg);
    
}
#imgDark2{
    width: 287px;
    height: 115px;
    background-image: url(../images/dark2.jpg);    
}
#planning h3, #team h3{
    height: 27px;
}
#planning p, #team p{
    height: 226px;
    padding-top: 9px;
}
#planning a,#team a{
    text-decoration: none;
    color: #ffffff; 
    font:  16px Arial,sans-serif; 
    display: block;
    width: 99px;
    height: 18px; 
    background-image: url(../images/readMoreBlue.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px; 
}
#post1, #post2{
    height: 125px;
    outline: 0px solid #cccccc;
}
#post3{
    height: 126px;
}
#blogImg1{
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../images/dark3.jpg);
    margin-right: 10px;
}
#blogImg2{
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../images/dark4.jpg);
    margin-right: 10px;
}
#blogImg3{
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../images/dark5.jpg);
    margin-right: 10px;
}
#blog h4{
    font: bold 13px Arial, sans-serif;
    color: #ffffff;
}
#blog p{
    font: 12px Arial, sans-serif;
    color: #94998f;
}
#blog a{
    font: 12px Arial, sans-serif;
    color: #255368;
    text-decoration: underline;
}
#blog h3 span{
    font: bold 15px Arial, sans-serif;
    text-transform: lowercase;
    color: #2c789c;
    margin-left: 20px; 
}
/*конец блока dark*/

/*начало серого блока*/
#gray{
    height: 168px;
    background-color: #2e302c;
    outline: 0px solid #cccccc;
    padding: 15px 30px 35px 40px;
}
#about{
    height: 168px;
    width: 300px;
    outline: 0px solid #cccccc;
      float: left;
}
#partners{
    width: 628px;
    height: 168px;
    outline: 0px solid #cccccc;
    float: left;
    margin-left: 26px; 
}
#gray h2{
    font: bold 18px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 3px;
}
#gray p{
    font: bold 12px Arial, sans-serif;
    color: #686c65;
     margin-bottom: 6px;
}
#gray a{
    font: bold 16px Arial, sans-serif;
    color: #2c789c;
    cursor: pointer;
    text-decoration: none;
}
.partner{
    float: left;
    outline: 0px solid #cccccc;
    width: 275px;
    
}
.partner li{
   font: 11px Arial, sans-serif;
   color: #686c65;
   margin-bottom: 15px;
   padding-left: 22px;
   background-image: url(../images/plus.png);
   background-repeat: no-repeat;
   background-position: 0 4px;
}
#p2{
    margin-left: 56px; 
}
#p1{
    margin-left: 22px; 
}

/*конец gray блока*/

/*начало блока footer*/
#footer{
    height: 154px;
    background-color: #131412;
    outline: 0px solid #cccccc;
    position: relative;
}
#copy{
    position: absolute;
    top: 81px;
    left: 39px;
}
#copy, #copy a{
    font: 13px Arial, sans-serif;
    color: #9b9d99;
    text-decoration: none;
}
#footerNav{
    width: 470px;
    height: 30px;
    outline: 0px solid #cccccc;
    position: absolute;
    top: 81px;
    right: 36px;
}
#footerNav li{
    /*располагаем элементы списка горизонтально*/
    float: right; 
    outline: 0px solid #cc0000;
    margin-left: 23px;
}
#footerNav li a{
    /*Внешний вид элементов навигации*/
     text-decoration: none;
     font: 12px Arial, sans-serif;
     color: #94998f;
}
#footerNav li a.active,#footerNav li a:hover{/*групповой селектор*/
    /*создаем специальный класс для активной ссылки и такой класс соответственно мы и должны прописать в html*/
     /*прописываем псевдокласс для того что бы при наведении все ссылки так же становились синего цвета*/
    color: #2c789c;
}

#footerSocial{
    height: 21px;
    width: 161px;
    position: absolute;
   top: 111px;
    right: 36px;
    outline: 0px solid #cccccc;
}

#footerSocial li{
    float: right;
    margin-left: 5px;
    background-repeat: no-repeat;
}
#s1{
   width: 22px;
   background-image: url(../images/s1.png);
}
#s2{
 width: 26px;
   background-image: url(../images/s2.png);   
}
#s3{
  width: 21px;
   background-image: url(../images/s3.png);  
}
#s4{
  width: 61px;
   background-image: url(../images/s4.png);  
}
#footerSocial li a{
    height: 21px;
    display: block;
    cursor: pointer;
}